[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
pydantic = "*"
ta = "*"
setuptools = "*"
pytest = "*"
lxml = "*"
pyecharts = "*"
ipython = "*"
matplotlib = "*"
importlib-metadata = "*"
mock = "*"
pytest-mock = "*"
finmind = {editable = true,path = "."}
typing-extensions = "*"
loguru = "*"
aiohttp = "*"
pytest-cov = "*"
flask = "==2.0.1"

[requires]
python_version = "3.6"
