[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
pydantic = "*"
ta = "~=0.5.25"
pytest = "*"
lxml = "*"
pyecharts = "*"
ipython = "*"
loguru = "*"
aiohttp = "*"
importlib-metadata = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
