<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>

<body>
    <div style="text-align:center;">
        <form method='post' action="">
            <div style="font-size: 36px;">請輸入股票代碼</div>
            <input type='text' name='stock_id' placeholder="股票代碼" style="font-size: 36px;text-align:center;" value="2330"><br>
            <div style="font-size: 36px;">請輸入開始日期</div>
            <input type="date" name='start_date' placeholder="開始日期" style="font-size: 36px;" value="2020-01-01"><br>
            <div style="font-size: 36px;">請輸入結束日期</div>
            <input type="date" name='end_date' placeholder="結束日期" style="font-size: 36px;" value="2021-08-01">
            <br>
            <button type='submit' style="font-size: 36px;">Submit</button>
        </form>
    </div>
</body>
DASHBOARD
</html>